* {
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Css for Homepage */
.homePage {
    /* margin-left: 10%;
    margin-right: 10%; */

}

/* CSS for Navbar */
.nav-item a {
    font-weight: bold;
}

.nav-bar .nav-link:hover a {
    color: green !important;
}

.elearningNav {
    z-index: 2;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.danhMucKhoaHoc {
    margin-top: 150px;
}

.dropbtn {
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(0, 128, 0, 0.548);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 1rem;
}

.dropdown-content a:hover {
    color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.txtSearch {
    width: 200px;
    margin-right: 150px !important;
}

.btnLogin {
    width: 150px;
}

/*---------------------- CSS for Carousel ---------------------- */
.sliderHome {
    margin: 100px 0 auto;
    width: 100%;
    height: 70vh;
    background-image: url('../../public/image/Carousel_H-learning.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

/* Carousel Content */
.sliderHome .carousel__Content {
    margin-left: 100px;
}

.sloganBox .colorDotTopLeft {
    transform: rotate(-45deg);
    position: absolute;
    top: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid yellow;
    margin-top: 100px;
    background-image: url('../../public/image/Colordot.png');
    background-size: 10px 10px;
}


/*---------------------- CSS for Course Infor ---------------------- */
.inforCourseBox {
    padding: 50px 0;

}

.inforCourseHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.inforItemHome {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.inforLargeItem {
    grid-row: 1 / span 2;
    background-color: #41b294;
    background-position: 100% 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.inforCourseBox .inforCourseHome .inforItemHome .inforItemContent ul li {
    font-size: 1.2rem;
}

.inforSmallItemA {
    background-color: #f6ba35;
}

.inforSmallItemB {
    background-color: #5c8295;
}

.inforSmallItemC {
    background-color: #63c0a8;
}

/* DETAIL PAGE */
/* CSS for Course Detail Page */
.course-details {
    margin-top: 100px;
    padding: 50px 0;
}

/*CSS for detail-course-discription*/
.detail-content {
    position: relative;
    margin-bottom: 250px;
}

.detail-course-discription {
    position: absolute;
    top: 50px;
    right: 120px;
    width: 400px;
}

.detail-content .course-details .container .detail-course-title {
    margin-left: 50px;
}

div .discription-Course {
    line-height: 2rem;
}

/* USER REGISTER PAGE */
.eLearning-RegisterForm {
    margin-top: 130px;
}