* {
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Css for Homepage */


/* CSS for Navbar */
.elearningNav {
    z-index: 2;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    pad: 10px 0 10px 30px;
    font-size: 1rem;
    color: #37423b;
    white-space: nowrap;
    transition: .3s;
}
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a{
    color: #5fcf80;
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #ccc;
    box-shadow: 0px 0px 30px rgba(57, 63, 72, 0.3);
    transition: .3s;
    border-radius: 4px;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown .ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
}
.navbar .dropdown ul a i {
    font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #5fcf80;
}
.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% + 30px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}
@media (max-width: 670px) {
    header .logo a {
        display: none;
    }
    
}
/*Responsive Navbar*/
.mobile-toggle {
    color: #37423b;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: .5s;
}
.mobile-toggle.bars-x {
    color: #fff;
}
@media (max-width: 1199px) {
    .mobile-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(57, 63, 72, 0.3);
    transition: .3s;
    z-index: 999;
}

.navbar-mobile .mobile-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;    
    background-color: #fff;
    overflow-y: auto;
    transform: .3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #37423b;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #5fcf80;
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(57, 63, 72, 0.3);
}
.navbar-mobile ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #5fcf80;
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}
 /*---------------------- CSS for Carousel ---------------------- */
.sliderHome {
    margin: 100px 0 auto;
    width: 100%;
    height: 70vh;
    background-image: url('../../public/image/Carousel_H-learning.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}


/* Carousel Content */
.sliderHome .carousel__Content {
    margin-left: 100px;
}

.sloganBox .colorDotTopLeft {
    transform: rotate(-45deg);
    position: absolute;
    top: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid yellow;
    margin-top: 100px;
    background-image: url('../../public/image/Colordot.png');
    background-size: 10px 10px;
}


/*---------------------- CSS for Course Infor ---------------------- */
.inforCourseBox {
    padding: 50px 0;

}

.inforCourseHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.inforItemHome {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.inforLargeItem {
    grid-row: 1 / span 2;
    background-color: #41b294;
    background-position: 100% 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.inforCourseBox .inforCourseHome .inforItemHome .inforItemContent ul li {
    font-size: 1.2rem;
}

.inforSmallItemA {
    background-color: #f6ba35;
}

.inforSmallItemB {
    background-color: #5c8295;
}

.inforSmallItemC {
    background-color: #63c0a8;
}

/* DETAIL PAGE */
/* CSS for Course Detail Page */
.course-details {
    margin-top: 100px;
    padding: 50px 0;
}

/*CSS for detail-course-discription*/
.detail-content {
    position: relative;
    margin-bottom: 250px;
}

.detail-course-discription {
    position: absolute;
    top: 50px;
    right: 120px;
    width: 400px;
}

.detail-content .course-details .container .detail-course-title {
    margin-left: 50px;
}

div .discription-Course {
    line-height: 2rem;
}

/* USER REGISTER PAGE */
.eLearning-RegisterForm {
    margin-top: 130px;
}

/* USER PROFILE PAGE */
.eLearning-profilePage {
    margin-top: 130px;
}
/*LOGIN PAGE*/
.elearning-Login_Page {
    margin-top: 100px;
}